<md-content>
  <md-toolbar class="toolbar-top" theme="forest" md-colors="{color: 'red-A100'}">
    <div class="md-toolbar-tools">
      <div style="padding: 0 4px 0 0;">
        <a href="#/event/">
          <img src="img/logo-xs.png" alt="Logo">
        </a>
      </div>

      <span class="title">Events</span>
      <span flex></span>

      <md-menu>
        <md-button class="md-icon-button" aria-label="Menu" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item>
            <md-button href="#/event/">Browse Events</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</md-content>

<div layout="column" layout-padding style="max-width: 900px; margin: 0 auto;">
  <md-card ng-if="eventDetails">
    <md-card-content>
      <div layout="column" layout-gt-sm="row" layout-gap="24">
        <div flex="100" flex-gt-sm="55">
          <h1 style="margin-top: 0;">{{eventDetails.title}}</h1>
          <h3 style="margin-top: 0;" ng-if="eventDateFormat">{{eventDateFormat}}</h3>

          <p class="md-body-1">
            Submit your song requests, vote for your favorites, and upload photos for this event.
          </p>

          <div layout="row" layout-wrap layout-gap="12" style="margin-top: 18px;">
            <md-button class="md-raised md-primary" href="#/voting/{{eventDetails.id || eventId}}">
              Enter Event
            </md-button>

            <md-button class="md-raised" href="#/suggest/{{eventDetails.id || eventId}}">
              Request a Song
            </md-button>

            <md-button class="md-raised" href="#/photo/{{eventDetails.id || eventId}}">
              Upload a Photo
            </md-button>
          </div>
        </div>

        <div flex="100" flex-gt-sm="45" ng-if="eventPhoto">
          <img ng-src="{{eventPhoto}}" alt="{{eventDetails.title}}" style="width: 100%; border-radius: 8px;">
        </div>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-content>
      <h3 style="margin-top: 0;">Find a Different Event</h3>
      <p class="md-body-1">
        Enter your event ID below if this is not the event you are looking for.
      </p>

      <form ng-submit="submit()" novalidate>
        <md-input-container class="md-block">
          <label>Event ID</label>
          <input ng-model="text" autocomplete="off">
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit">
          Find Event
        </md-button>
      </form>
    </md-card-content>
  </md-card>
</div>
