<md-content>
<md-toolbar class="toolbar-top" theme="forest" md-colors="{color: 'red-A100'}">
      <div class="md-toolbar-tools">
	  <div style='padding: 0 4px 0 0;'><a href="#/voting/{{eventId}}"> <img src='img/logo-xs.png'></a></div>
        <span class="title">{{eventTitle}}</span>
        <span flex></span>
	<md-menu>
	<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
		<md-menu-content width="4">
	<md-menu-item>
            <md-button href = '#/voting/{{eventId}}'>Back to Event</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button href = '#/event/'>Change Event</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
      </div>
    </md-toolbar>
	</md-content>
<div layout-gt-sm="row">
    <div class="col-md-12">
        <h3>Suggest a song:</h3>
    </div>
</div>
<div ng-controller="SongSearchCtrl as ctrl" layout="column" ng-cloak>
    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()" name="searchForm">
            <div layout-gt-sm="row">
                <div class="col-md-12">
                    <div class='input-container'>
                        <div class="icon-ph"><i class="glyphicon glyphicon-music"></i></div>
                        <md-autocomplete required 
                                ng-disabled="ctrl.isDisabled" 
                                md-no-cache="ctrl.noCache" 
                                md-selected-item="ctrl.selectedSongItem" 
                                md-search-text-change="" 
                                md-search-text="ctrl.searchSongText" 
                                md-selected-item-change="ctrl.selectedSongItemChange(item)" 
                                md-items="item in ctrl.searchSong(ctrl.searchSongText,ctrl.searchArtistText)" 
                                md-item-text="item.name" 
                                placeholder="Song Title" 
                                md-input-minlength=4 
                                md-min-length="4">
                                <md-item-template>
                                    <img ng-src={{item.image[0]["#text"]}}>
                                    <span 
                                        md-highlight-text="ctrl.searchSongText" 
                                        md-highlight-flags="^i">{{item.name}} by {{item.artist}} 
                                    </span>  
                            </md-item-template>
                            <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                <div ng-message="minlength">Your entry is not long enough.</div>
                                <div ng-message="maxlength">Your entry is too long.</div>
                            </div>
                            <md-not-found>
                                No matches for "{{ctrl.searchSongText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div ng-show="ctrl.isSongEntered" class="inline error-text">* song title required</div>
                </div>
            </div>
            <div layout-gt-sm="row">
                <div class="col-md-12">
                    <div class='input-container'>
                        <div class="icon-ph"><i class="glyphicon glyphicon-user"></i></div>
                        <md-autocomplete 
                        ng-disabled="ctrl.isDisabled" 
                        md-no-cache="ctrl.noCache" 
                        md-selected-item="ctrl.selectedArtistItem" 
                        md-search-text-change="" 
                        md-search-text="ctrl.searchArtistText" 
                        md-selected-item-change="ctrl.selectedArtistItemChange(item)" 
                        md-items="item in ctrl.searchArtist(ctrl.searchArtistText)" 
                        md-item-text="item.name" 
                        md-min-length="5" 
                        placeholder="Artist Name">
                            <md-item-template>
                                <img ng-src= {{item.image[0]["#text"]}}>
                                <span 
                                    md-highlight-text="ctrl.searchArtistText" 
                                    md-highlight-flags="^i">{{item.name}}
                                </span>
                            </md-item-template>
                            <md-not-found>
                                No matches for "{{ctrl.searchArtistText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                        <div ng-show="ctrl.isArtistEntered" class="inline error-text">* artist required</div>
                    </div>
                </div>
            </div>
            <div layout-gt-sm="row">
                <div class="col-md-12">
					<button type="button" ng-click="ctrl.cancel(eventId)" class="btn btn-primary navbar-btn">Cancel</button>
                    <button type="button" ng-click="ctrl.addSong(eventId)" class="btn btn-primary navbar-btn">Add Song</button>
					
                </div>
            </div>
        </form>
    </md-content>
</div>
