div {
    background-color: black;
    -webkit-print-color-adjust: exact;
    position: relative;
}

#collage {
  position: absolute;
}

.tile {
    float: left;
    text-align: center;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}
.tile span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.tile:hover {
    opacity: .65;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-color: white;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: grey;
}

#eventName,#eventdate {
  font-size: 6vw;
  color: white;
  font-family: Arizonia;
  display: inline;
}

#logo {
      float: bottom;
      height: 20vh;
      width: 30vw;
}

#bottom {
      float: bottom;
      height: 20vh;
      width: 70vw;
}

#message {
  font-size: 3vw;
  color: white;
  font-family: Permanent-Marker;
}

@font-face {
  font-family: Arizonia;
  src: url(fonts/Arizonia-Regular.ttf);
}

@font-face {
  font-family: Permanent-Marker;
  src: url(fonts/PermanentMarker-Regular.ttf);
}

body {
  overflow: hidden;
}
